In [1]:
# importando bibliotecas

import pandas as pd
import sqlite3

In [2]:
cnn = sqlite3.connect("revisao.db")

In [3]:
%load_ext sql

In [4]:
%reload_ext sql

In [5]:
%sql sqlite:///revisao.db

In [6]:
%sql

 * sqlite:///revisao.db

In [7]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [8]:
%%sql

CREATE TABLE IF NOT EXISTS Artistas (
    idArtista INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT
);

 * sqlite:///revisao.db
Done.

[]

In [9]:
%%sql

CREATE TABLE IF NOT EXISTS Albuns (
    idAlbum INTEGER PRIMARY KEY AUTOINCREMENT,
    titulo TEXT,
    genero TEXT,
    artista INTEGER,
    FOREIGN KEY (artista) REFERENCES Artistas (id)
);

 * sqlite:///revisao.db
Done.

[]

In [10]:
%%sql

CREATE TABLE IF NOT EXISTS Musicas (
    idMusica INTEGER PRIMARY KEY AUTOINCREMENT,
    titulo TEXT,
    genero TEXT,
    album INTEGER,
    artista INTEGER,
    FOREIGN KEY (album) REFERENCES Albuns (id),
    FOREIGN KEY (artista) REFERENCES Artistas (id)
);

 * sqlite:///revisao.db
Done.

[]

In [11]:
%%sql 

INSERT INTO Artistas(nome) VALUES ("Taylor Swift"), ("Sabrina Carpenter"), ("Phoebe Bridgers"), ("Olivia Rodrigo");

 * sqlite:///revisao.db
4 rows affected.

[]

In [12]:
%%sql

INSERT INTO Albuns (titulo, genero, artista) VALUES ("Fearless", "Country", 1),
                                                    ("The Tortured Poets Department", "Pop indie", 1),
                                                    ("Evermore", "Folk indie", 1),
                                                    ("GUTS", "Pop", 4),
                                                    ("emails I can't send", "Pop", 2),
                                                    ("Punisher", "indie", 3),
                                                    ("Folklore", "indie", 1);

 * sqlite:///revisao.db
7 rows affected.

[]

In [27]:
%%sql

INSERT INTO Musicas (titulo, genero, album, artista) VALUES ("Fearless", "Country", 1, 1),
                                                            ("The Black Dog", "Pop indie", 2, 1),
                                                            ("I Don't Wanna Live Forever", "Pop", 0, 1),
                                                            ("The Prophecy", "Pop indie", 2, 1),
                                                            ("I Know The End", "indie", 6, 3),
                                                            ("The Ballad of a Homeschooled Girl", "Pop", 4, 4),
                                                            ("Bad for Business", "Pop", 5, 2),
                                                            ("So American", "Pop", 4, 4),
                                                            ("making the bed", "Pop", 4, 4);

 * sqlite:///revisao.db
9 rows affected.

[]

In [33]:
%sql SELECT * FROM Musicas

 * sqlite:///revisao.db
Done.

[(1, 'Fearless', 'Country', 1, 1),
 (2, 'The Black Dog', 'Pop indie', 2, 1),
 (3, "I Don't Wanna Live Forever", 'Pop', 'NULL', 1),
 (4, 'The Prophecy', 'Pop indie', 2, 1),
 (5, 'I Know The End', 'indie', 6, 3),
 (6, 'The Ballad of a Homeschooled Girl', 'Pop', 4, 4),
 (7, 'Bad for Business', 'Pop', 5, 2),
 (8, 'So American', 'Pop', 4, 4),
 (9, 'making the bed', 'Pop', 4, 4)]

In [37]:
%sql UPDATE Musicas SET album=NULL WHERE idMusica=3

 * sqlite:///revisao.db
1 rows affected.

[]

In [15]:
%sql UPDATE Musicas SET titulo="ballad of a homeschooled girl" WHERE idMusica=5

 * sqlite:///revisao.db
0 rows affected.

[]

In [16]:
%sql SELECT * FROM Musicas

 * sqlite:///revisao.db
Done.

[]

Produto cartesiano entre Artistas e Albuns:

In [56]:
%sql SELECT * FROM Artistas, Albuns

 * sqlite:///revisao.db
Done.

[(1, 'Taylor Swift', 1, 'Fearless', 'Country', 1),
 (1, 'Taylor Swift', 2, 'The Tortured Poets Department', 'Pop indie', 1),
 (1, 'Taylor Swift', 3, 'Evermore', 'Folk indie', 1),
 (1, 'Taylor Swift', 4, 'GUTS', 'Pop', 4),
 (1, 'Taylor Swift', 5, "emails I can't send", 'Pop', 2),
 (1, 'Taylor Swift', 6, 'Punisher', 'indie', 3),
 (1, 'Taylor Swift', 7, 'Folklore', 'indie', 1),
 (2, 'Sabrina Carpenter', 1, 'Fearless', 'Country', 1),
 (2, 'Sabrina Carpenter', 2, 'The Tortured Poets Department', 'Pop indie', 1),
 (2, 'Sabrina Carpenter', 3, 'Evermore', 'Folk indie', 1),
 (2, 'Sabrina Carpenter', 4, 'GUTS', 'Pop', 4),
 (2, 'Sabrina Carpenter', 5, "emails I can't send", 'Pop', 2),
 (2, 'Sabrina Carpenter', 6, 'Punisher', 'indie', 3),
 (2, 'Sabrina Carpenter', 7, 'Folklore', 'indie', 1),
 (3, 'Phoebe Bridgers', 1, 'Fearless', 'Country', 1),
 (3, 'Phoebe Bridgers', 2, 'The Tortured Poets Department', 'Pop indie', 1),
 (3, 'Phoebe Bridgers', 3, 'Evermore', 'Folk indie', 1),
 (3, 'Phoebe Bridgers', 4, 'GUTS', 'Pop', 4),
 (3, 'Phoebe Bridgers', 5, "emails I can't send", 'Pop', 2),
 (3, 'Phoebe Bridgers', 6, 'Punisher', 'indie', 3),
 (3, 'Phoebe Bridgers', 7, 'Folklore', 'indie', 1),
 (4, 'Olivia Rodrigo', 1, 'Fearless', 'Country', 1),
 (4, 'Olivia Rodrigo', 2, 'The Tortured Poets Department', 'Pop indie', 1),
 (4, 'Olivia Rodrigo', 3, 'Evermore', 'Folk indie', 1),
 (4, 'Olivia Rodrigo', 4, 'GUTS', 'Pop', 4),
 (4, 'Olivia Rodrigo', 5, "emails I can't send", 'Pop', 2),
 (4, 'Olivia Rodrigo', 6, 'Punisher', 'indie', 3),
 (4, 'Olivia Rodrigo', 7, 'Folklore', 'indie', 1)]

INNER JOIN: junção interna; com base na condição (B.artista = A.id), retorna SOMENTE as tuplas em que há correspondência.

In [21]:
%sql SELECT * FROM Albuns AS B INNER JOIN Artistas AS A ON B.artista = A.idArtista

 * sqlite:///revisao.db
Done.

[(1, 'Fearless', 'Country', 1, 1, 'Taylor Swift'),
 (2, 'The Tortured Poets Department', 'Pop indie', 1, 1, 'Taylor Swift'),
 (3, 'Evermore', 'Folk indie', 1, 1, 'Taylor Swift'),
 (4, 'GUTS', 'Pop', 4, 4, 'Olivia Rodrigo'),
 (5, "emails I cant't send", 'Pop', 2, 2, 'Sabrina Carpenter'),
 (6, 'Punisher', 'indie', 3, 3, 'Phoebe Bridgers'),
 (7, 'Folklore', 'indie', 1, 1, 'Taylor Swift')]

In [22]:
%%sql

SELECT * FROM Albuns AS A INNER JOIN Artistas AS B ON A.artista=B.idArtista AND B.idArtista=1;

 * sqlite:///revisao.db
Done.

[(1, 'Fearless', 'Country', 1, 1, 'Taylor Swift'),
 (2, 'The Tortured Poets Department', 'Pop indie', 1, 1, 'Taylor Swift'),
 (3, 'Evermore', 'Folk indie', 1, 1, 'Taylor Swift'),
 (7, 'Folklore', 'indie', 1, 1, 'Taylor Swift')]

In [23]:
%%sql

CREATE VIEW discografiaTaylor AS SELECT * FROM Albuns AS A INNER JOIN Artistas AS B WHERE A.artista=B.idArtista AND B.idArtista=1;

 * sqlite:///revisao.db
Done.

[]

In [24]:
%sql SELECT * FROM discografiaTaylor

 * sqlite:///revisao.db
Done.

[(1, 'Fearless', 'Country', 1, 1, 'Taylor Swift'),
 (2, 'The Tortured Poets Department', 'Pop indie', 1, 1, 'Taylor Swift'),
 (3, 'Evermore', 'Folk indie', 1, 1, 'Taylor Swift'),
 (7, 'Folklore', 'indie', 1, 1, 'Taylor Swift')]

In [25]:
%sql SELECT * FROM discografiaTaylor WHERE genero="indie"

 * sqlite:///revisao.db
Done.

[(7, 'Folklore', 'indie', 1, 1, 'Taylor Swift')]

In [26]:
%sql SELECT * FROM discografiaTaylor WHERE genero LIKE "%indie%"

 * sqlite:///revisao.db
Done.

[(2, 'The Tortured Poets Department', 'Pop indie', 1, 1, 'Taylor Swift'),
 (3, 'Evermore', 'Folk indie', 1, 1, 'Taylor Swift'),
 (7, 'Folklore', 'indie', 1, 1, 'Taylor Swift')]

In [54]:
%%sql

SELECT * FROM Musicas AS A LEFT JOIN Albuns AS B ON A.album=B.idAlbum

 * sqlite:///revisao.db
Done.

[(1, 'Fearless', 'Country', 1, 1, 1, 'Fearless', 'Country', 1),
 (2, 'The Black Dog', 'Pop indie', 2, 1, 2, 'The Tortured Poets Department', 'Pop indie', 1),
 (3, "I Don't Wanna Live Forever", 'Pop', None, 1, None, None, None, None),
 (4, 'The Prophecy', 'Pop indie', 2, 1, 2, 'The Tortured Poets Department', 'Pop indie', 1),
 (5, 'I Know The End', 'indie', 6, 3, 6, 'Punisher', 'indie', 3),
 (6, 'The Ballad of a Homeschooled Girl', 'Pop', 4, 4, 4, 'GUTS', 'Pop', 4),
 (7, 'Bad for Business', 'Pop', 5, 2, 5, "emails I can't send", 'Pop', 2),
 (8, 'So American', 'Pop', 4, 4, 4, 'GUTS', 'Pop', 4),
 (9, 'making the bed', 'Pop', 4, 4, 4, 'GUTS', 'Pop', 4)]

In [47]:
%%sql

SELECT * FROM Musicas AS A LEFT JOIN Albuns AS B ON A.album=B.idAlbum WHERE B.idAlbum IS NULL

 * sqlite:///revisao.db
Done.

[(3, "I Don't Wanna Live Forever", 'Pop', None, 1, None, None, None, None)]

In [53]:
%%sql

SELECT * FROM Musicas AS A FULL JOIN Albuns AS B ON A.album=B.idAlbum

 * sqlite:///revisao.db
Done.

[(1, 'Fearless', 'Country', 1, 1, 1, 'Fearless', 'Country', 1),
 (2, 'The Black Dog', 'Pop indie', 2, 1, 2, 'The Tortured Poets Department', 'Pop indie', 1),
 (3, "I Don't Wanna Live Forever", 'Pop', None, 1, None, None, None, None),
 (4, 'The Prophecy', 'Pop indie', 2, 1, 2, 'The Tortured Poets Department', 'Pop indie', 1),
 (5, 'I Know The End', 'indie', 6, 3, 6, 'Punisher', 'indie', 3),
 (6, 'The Ballad of a Homeschooled Girl', 'Pop', 4, 4, 4, 'GUTS', 'Pop', 4),
 (7, 'Bad for Business', 'Pop', 5, 2, 5, "emails I can't send", 'Pop', 2),
 (8, 'So American', 'Pop', 4, 4, 4, 'GUTS', 'Pop', 4),
 (9, 'making the bed', 'Pop', 4, 4, 4, 'GUTS', 'Pop', 4),
 (None, None, None, None, None, 3, 'Evermore', 'Folk indie', 1),
 (None, None, None, None, None, 7, 'Folklore', 'indie', 1)]